---
layout: default
title: Plays
---

<article>
  <header>
    <h1>Musical instruments</h1>
    <p>
      I like making a bit of music in my spare time, mostly <a href="https://www.vjennelandermusikanten.nl/"
        rel="noopener noreferrer"><i>Egerl&auml;nder und B&ouml;hmische blasmusik</i></a>. My main
      instrument is the trumpet, but occasionally I fill in the drums when necessary.
    </p>
  </header>

  <section>
    <h2 id="hub-van-laar-b2">Hub van Laar B2 (2010)</h2>
    <p>Bought this fine piece of engineering in 2010 from the best trumpet builder around and a then incresingly popular
      trumpet builder <a href="https://www.vanlaartrumpets.nl/" rel="noopener noreferrer">Hub van Laar</a>. This trumpet is pretty forgiving in my lack of practicing although I'll probably
      never be a fantastic trumpet player.</p>

    {% image "./img/plays/trumpet-hub-van-laar-b2-valves.jpg", "Hub van Laar B2 trumpet valves" %}
    {% image "./img/plays/trumpet-hub-van-laar-b2-makers-mark.jpg", "Hub van Laar B2 trumpet makers mark" %}
    {% image "./img/plays/trumpet-hub-van-laar-b2-side-view.jpg", "Hub van Laar B2 trumpet side view" %}
  </section>

  <section>
    <h2 id="pearl-custom-set">Custom Pearl drum kit (2021)</h2>
    <p>Several excellent souding components make up this tiny kit that I use for playing in small-sized Egerl&auml;nder groups. It is a tiny set and it's only goal is to complement the brass players. The drums have no other role than to keep the band in sync and for some effects here and there.</p>
    <p>Buying a complete set seemed a waste, because I'd have to throw away several toms and cymbals, so I chose all my components separately. I'm pretty picky about the sound of this setup anyway, so a standard kit wouldn't have cut it anyway.</p>
    <p>(Pictures will follow)</p>

    <ul>
      <li>
        <h3>Snare drum</h3>
        <p>The centerpiece of this kit is a <a href="https://pearldrum.com/eu/products/snares/modern-utility/maple-utility-14x65" rel="noreferrer noopener">Pearl MUS1465M/208 Modern Utility Snare Drum</a>. It's a 14" &times; 6.5" Modern Utility Ply Maple snare drum that sounds pretty low and dry so it stays discretely below all the other players.</p>
        <p>Current tuning: bottom head cranked up tight, top head pretty loose with the two bottom lugs almost completely loose to reduce ringing. Snares are pretty tight too, resulting in a dry, low sound.</p>
      </li>
      <li>
        <h3>Bass drum</h3>
        <p>Small in size, big in sound: Pearl Export 20" &times; 16". Tuned low with a soft beater on the pedal to not scare away the tuba player.</p>
      </li>
      <li>
        <h3>Cymbal</h3>
        <p>The Zildjian 17" Family Crash takes care of perhaps the most difficult part of this setup.</p>
        <p>Most drummers in this genre use only a single cymbal. The difficult part is that it functions both as a crash cymbal as well as weird kind of ride cymbal. Another complicating factor is that cymbals cannot be tuned like drums, so it's challenging to pick a good one.</p>
      </li>
      <li>
        <h3>Hardware</h3>
        <p>The snare drum sits on a <a href="https://pearldrum.com/eu/products/hardware/snare-stands/s-930" rel="noopener noreferrer">Pearl S-930 stand</a>; the cymbal sits on a <a href="https://pearldrum.com/eu/products/hardware/boom-stands/bc-830" rel="noopener noreferrer">Pearl BC-830 boom stand</a>. My bottom is on a <a href="https://www.k-m.de/en/products/drummer-s-thrones-benches-stools/drummer-s-thrones/14055-14056-drummer-s-throne-nick-black-imitation-leather?c=165" rel="noopener noreferrer">K&amp;M drum throne</a>.</p>
      </li>
    </ul>
  </section>
</article>