@font-face {
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('PT Serif'), local('PTSerif-Regular'),
		url(/fonts/pt-serif-normal-400.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('PT Serif Bold'), local('PTSerif-Bold'),
		url(/fonts/pt-serif-normal-700.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}

html {
	font-size: 100%;
	font-family: 'PT Serif', 'Georgia', serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	color: #3c3c3c;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: white;
}

a {
	color: inherit;
	text-decoration-color: LightSeaGreen;
	text-decoration-thickness: 2px;
}

ol,
ul {
	padding-left: 1rem;
}

nav {
	display: flex;
	align-items: baseline;
	gap: 1rem;
}

nav a:nth-of-type(2) {
	margin-top: 3rem;
	margin-left: auto;
}

.bio {
	margin-top: 3rem;
	color: #666;
}

.sidebar {
	padding: 1rem;
	background-color: whitesmoke;
}

main,
footer {
	padding: 1rem;
}

p,
article {
	line-height: 1.66;
}

article {
	font-size: 120%;
}

h1 {
	line-height: 1.33;
}

h1 + time {
	color: #666;
}

img {
	max-width: 100%;
	height: auto;
	font-size: 0.5rem;
	line-height: 1.1;
	font-weight: normal;
}

pre {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	tab-size: 2;
	-moz-tab-size: 2;
	font-family: monospace, monospace;
	line-height: 1.3;
	border: 1px solid lightgrey;
	border-radius: 2px;
	padding: 0.15em 1rem;
}

p code {
	color: #2071b2;
	white-space: nowrap;
	background-color: hsl(180, 20%, 95%);
}

@media (min-width: 60rem) {
	html {
		font-size: 110%;
	}

	body {
		--ratio: 1.5;
		--main-width: 33rem;
		--sidebar-width: calc(var(--main-width) / var(--ratio));
		display: grid;
		grid-template-columns: 1fr var(--sidebar-width) var(--main-width) 1fr;
	}

	nav {
		flex-direction: column;
	}

	nav a:nth-of-type(2) {
		margin-left: 0; /* reset */
	}

	main,
	.sidebar,
	footer {
		padding: 3rem;
	}

	main {
		grid-column: 3 / 4;
	}

	.sidebar,
	footer {
		grid-column: 2 / 3;
		background-color: whitesmoke;
	}

	ol,
	ul {
		padding-left: 1.5rem;
	}
}

@media (min-width: 80rem) {
	html {
		font-size: calc(80% + 0.4vw);
	}
}

.unstyled {
	list-style: none;
	padding-left: 0;
}
