html {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	-webkit-text-size-adjust: 100%;
	font-size: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
	font-weight: 800;
}

h1 {
  font-size: 3em;
}

h2, h3 {
  margin-top: 2em;
}

p, li, blockquote {
	max-width: 70ch;
}

p,
li,
blockquote {
  line-height: 1.44;
}

code,
pre {
  font-family: monospace, monospace;
}

p code,
li code {
  font-size: 110%;
}

pre {
  font-weight: 400;
  line-height: 1.3;
}

th {
  text-align: left;
}

blockquote {
  --border-width: 6px;
  border-style: solid;
  border-color: currentColor;
  border-width: var(--border-width) 0;
  padding: 1em 2em;
  margin: 2em 0;
  position: relative;
  font-size: 110%;
}

blockquote::before,
blockquote::after {
  content: '';
  position: absolute;
  width: var(--border-width);
  height: calc(100% - 4em);
  background-color: currentColor;
}

blockquote::before {
  bottom: 0;
  left: 0;
}

blockquote::after {
  top: 0;
  right: 0;
}

blockquote p::before,
blockquote p::after {
  font-size: 6em;
  position: absolute;
  font-family: serif;
  font-weight: 900;
  line-height: 0;
  opacity: 30%;
}

blockquote p::before {
  content: open-quote;
  top: .6em;
  left: -.5ch;
}

blockquote p::after {
  content: close-quote;
  bottom: .05em;
  right: -.5ch;
}

@media (min-width: 60em) {
  html {
    font-size: 110%;
  }

  h1 {
    font-size: 4.3em;
    margin-top: .3em;
  }
}


@media (min-width: 90em) {
  html {
    font-size: 115%;
  }

  h1 {
    font-size: 6em;
    margin-top: 0;
  }

  h2 {
    font-size: 2em;
  }
}