<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.name }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimal-ui">
    <style>{% include master.css %}</style>
    <script>{% include ga.js %}</script>
    {% if page.excerpt %}
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@bartveneman">
        <meta name="twitter:creator" content="@bartveneman">
        <meta name="twitter:domain" content="www.bveneman.nl">
        <meta name="twitter:title" content="{{ page.title }}">
        <meta name="twitter:description" content="{{ page.excerpt | strip_html | truncate: 200 | escape }}">
    {% endif %}
</head>
<body>
    {% include header.html %}

    <div role="main">
        {{ content }}
    </div>

    {% include footer.html %}
</body>
</html>
