/**
 * Blocks
 */

* {
    box-sizing: border-box;
}

html {

	@include breakpoint($medium) {
		background-color: #f1f1f1;
	}
}

body {
	margin: 0;
}

.M, 
.S {
    padding: 0 1.406rem;

    @include breakpoint($small) {
    	padding: 0 12%;
    }

    @include breakpoint($medium) {
    	display: inline-block;
        vertical-align: bottom;
        padding: 0 4%;
    }
}

.M {

	@include breakpoint($medium) {
		width: 56.75%;
        background-color: #fff;
	}

	@include breakpoint($large) {
		padding-left: 12%;
	}
}

.S {

	@include breakpoint($medium) {
		max-width: 43.25%;
	}

	@include breakpoint($large) {
		padding-right: 12%;
	}
}

.E {
    list-style: none;
    margin-left: 0;
}

header {
    text-align: justify;
    font-size: 0.1px;
}

header:after {
    content: "";
    display: inline-block;
    width: 100%;
}

.L, 
.B {
    display: inline-block;
    vertical-align: middle;
    font-size: medium;
    margin-top: 1.406em;
}

.no-bg {
    background-color: transparent !important;
}
