/**
 * Code
 */

pre, 
code {
    font-family: consolas, monospace;
}

code {
    line-height: 1.125;
}

pre {
    overflow: scroll;
    -webkit-overflow-scroll: touch;
    background-color: #212121;
    padding: 0.406em;
}

pre code {
    color: #bbb;
    font-size: 0.875em;
}

.c { // comment
	color: #777; 
}

.k, // keyword
.nt // name.tag
.na, // name.attribute
.n { // name
	color: #8AA8B0; 
}

.nc, // name.class
.nv { // name.variable
	color: #F26101; 
}

.nf, // name.function
.m, // literal.number
.mi, // Literal.Number.Integer
.s { // literal.string
	color: #fff; 
}
