a {
    text-decoration: none;
    color: inherit;
}

a:active,
a:hover {
    outline: 0;
    color: #814964;
}

p a {
    color: #143cdc;
    text-decoration: underline;
}

.E a {
    display: block;
}

li a:visited,
p a:visited {
    color: #5b7da2;
}

.S:hover a {
    color: #364b60;
}
