$small: 22em;
$medium: 50em;
$large: 66em;

@mixin breakpoint($width) {
	@media (min-width: $width) {
		@content;
	}
}

@import "shared";
@import "blocks";
@import "headings";
@import "code";
@import "typography";
@import "links";
